/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
/.DS_Store
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
vendor
storage/app/*
storage/framework/*
.env.example
.htaccess
laravel.conf.save
storage/
